<h1>Result</h1>
<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p> -->
<p><%= @message %></p>
<p>Your score: <%= @score %></p>
<p>Your total: <%= @total %></p>
<a href="/new">Play again</a>
